certifi==2024.8.30 ; python_version >= "3.11" and python_version < "3.13"
cffi==1.17.1 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "linux" and platform_python_implementation != "PyPy"
charset-normalizer==3.4.0 ; python_version >= "3.11" and python_version < "3.13"
click==8.1.7 ; python_version >= "3.11" and python_version < "3.13"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "3.13"
cryptography==43.0.1 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "linux"
idna==3.10 ; python_version >= "3.11" and python_version < "3.13"
importlib-metadata==8.5.0 ; python_version >= "3.11" and python_version < "3.12"
jaraco-classes==3.4.0 ; python_version >= "3.11" and python_version < "3.13"
jeepney==0.8.0 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "linux"
keyring==24.3.1 ; python_version >= "3.11" and python_version < "3.13"
more-itertools==10.5.0 ; python_version >= "3.11" and python_version < "3.13"
pycparser==2.22 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "linux" and platform_python_implementation != "PyPy"
pycryptodome==3.21.0 ; python_version >= "3.11" and python_version < "3.13"
python-decouple==3.8 ; python_version >= "3.11" and python_version < "3.13"
pywin32-ctypes==0.2.3 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "win32"
requests==2.32.3 ; python_version >= "3.11" and python_version < "3.13"
secretstorage==3.3.3 ; python_version >= "3.11" and python_version < "3.13" and sys_platform == "linux"
typer==0.9.4 ; python_version >= "3.11" and python_version < "3.13"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "3.13"
urllib3==2.2.3 ; python_version >= "3.11" and python_version < "3.13"
wheel==0.43.0 ; python_version >= "3.11" and python_version < "3.13"
zipp==3.20.2 ; python_version >= "3.11" and python_version < "3.12"
